@import url(https://fonts.googleapis.com/css?family=Varela+Round);
* {
  margin: 0;
  padding: 0;
}

header {
  font-family: "Varela Round";
  padding: 20px;
  border-bottom: 1px solid #eee;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: +5;
  width: 100%;
  background: #fff;
}

header .logo {
  width: 50px;
  float: left;
  margin-left: 100px;
}

header .logo_title {
  float: left;
  font-size: 18pt;
  font-weight: 100;
  margin: 12px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1.5px;
  margin-left: 20px;
}

header .clear {
  clear: both;
}

header nav {
  float: right;
  margin: 16px;
}

header nav ul {
  list-style: none;
}

header nav ul a li {
  font-weight: 400;
  letter-spacing: 1.5px;
  display: inline-block;
  font-size: 10pt;
  margin-right: 50px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}
