.voyage-page .where {
  margin-left: 300px;
  width: 50%;
}

.voyage-page .where .tile {
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.04);
  padding: 30px;
  line-height: 2em;
  text-align: center;
}

.voyage-page .voyage_button {
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  background: #67adff;
  color: #fff;
  width: 100px;
  text-align: center;
}

.voyage-page .tile2 {
  display: none;
}

.voyage-page .tile3 {
  display: none;
}

.voyage-page .line {
  border: 2px solid #efefef;
  width: 50%;
  margin-top: 15px;
}
.flights {
  position: relative; 
  width: 80%;
  height: 220px;
  background: #ebebeb;
  left: 50%;
  margin-top: 20px;
  -webkit-transform: translateX(-50%);
  

}
.voyage-page .spot {
  width: 300px;
}

.voyage-page .spot img {
  width: 250px;
}

.voyage-page input {
  padding: 10px;
  width: 300px;
  font-size: 14pt;
  margin-top: 20px;
}
.flight-info {
  position: relative;
  float: left;
  width: 100%;
  height: 33.3%;
  border-bottom: 1px solid #ccc;
}
.flight-info span {
  position: relative;
  font-weight: 800;
  font-size: 16px;
  top: 20px;
}
